In [1]:
library(ggplot2)

In [2]:
data=read.table("ddit3_inputs.tsv",header=TRUE,sep='\t')

In [3]:
data

   Time Age        MeanTPM   StdevTPM
1  d0   Aged       143.71470 19.453523
2  d0   Young_Pax7  48.99001  1.814053
3  d0   Young       55.45977  5.115306
4  d1   Aged        71.10959  6.327845
5  d1   Young       63.29438 12.052769
6  d3   Aged        53.90461  3.336516
7  d3   Young       33.46626  3.651234
8  d5   Aged        58.65172  3.764693
9  d5   Young       51.76806  2.241364
10 d7   Aged        71.98070  3.775036
11 d7   Young       90.78153  3.684068

In [12]:
svg(filename="DDIT3_RNA.svg",
   height=4,
   width=8,
   pointsize=12)
print(ggplot(data=data,
      aes(x=data$Time,
         y=data$MeanTPM,
         group=data$Age,
         color=data$Age))+
geom_point()+
geom_line()+
geom_errorbar(aes(ymin=data$MeanTPM-data$StdevTPM, ymax=data$MeanTPM+data$StdevTPM), width=.2)+
xlab("Day")+
ylab("Mean TPM DDIT3")+
scale_color_manual(name="Age",values=c('#1b9e77','#d95f02','#7570b3'))+
theme_bw(20))
dev.off()

png
  2